.boardsTitle{
  display: inline;
  margin-right: 10px;
}
.board{
  padding: 5px;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.playButton{
  margin-left: 5px;
}
.refreshButton{
  margin-left: 5px;
}